.sidebar_page .title {
  margin: 1.5rem 0;
}
.sidebar_page .menu h3 {
  padding: 10px;
}
.sidebar_page .help {
  text-align: center;
  border: 2px solid;
  margin: 2px;
  border-radius: 5px;
}
.sidebar_page .help p {
  font-size: 15px;
}
